<h2>Submit thread:</h2>

<%= form_for @question do |f| %>

    <% if @question.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-danger">
			The form contains <%= pluralize(@question.errors.count, 
			  "errors") %>
		    <ul>
			<% @question.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
        </div>
	</div>
    <% end %>

    <%= f.label :title %></br>
    <%= f.text_field :title, :class => 'col-md-12' %></br>
	
	<select name="category">
		<option value="questions"> Simple Questions </option>
		<option value="motivation"> Motivation </option>
		<option value="cardio"> Cardio </option>
		<option value="workout"> Working out </option>
		<option value="general"> General/Other </option>
	</select>

    <%= f.label :content %></br>
    <%= f.cktext_area :content, :class => 'col-md-12', :id => 'content-box' %></br>

    <%= f.submit 'Submit thread' %>
<% end %>