

    <div class="question-text row">
    <div class="panel panel-default">
        <h2 class="panel-heading"><%= @question.title %></h2>
        <p class="panel-content question_content" id='content'>
            <%= @question.content.html_safe %>
        </p>
    </div>

    <% if @comments.count == 0 %>
        <h4>No one has commented yet, be the first to do so! </h4>
    <% end %>

    <% @comments.each do |comment| %>
            <%= render comment %>
        <% end %>
    <%= will_paginate @comments %>
    <% if session[:current_user] != nil %>
        </br><button id='add_comment'>Add comment</button>
    <% end %>
    <div id="new_comments">
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#add_comment').click(function() {
            $('#new_comments').append(
                "<form method=POST action='<%= root_url + 'add_comment' %>'>" +
                    "<input style='height: 9em; width: 32em;' type='text_area' name='content' placeholder='Add comment'></br>" +
                    "<input type='hidden' name='question_id' value='<%= @question.id %>'>" +
                    "<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>" +
                    "<input type='submit' value='Add comment'>" +
                "</form>"         
            );
            $('#add_comment').remove();}
        )
    });
</script>