<div class="comment">
    <div id=comment<%= comment.id %>>
    <button id='upvote<%= comment.id %>'>upvote</button>
    <button id='downvote<%= comment.id %>'>downvote</button>
    <%= link_to User.find(comment.user_id).name, root_url + 'users/' + comment.user_id.to_s %>
    <%= comment.points.to_s + ' points' %>
    <%= distance_of_time_in_words(comment.created_at, Time.now, include_seconds: true) + " ago" %>
    </br>
    <div class="comment-content" >
        <%= comment.content %>
    </div>
    <% if session[:current_user] != nil %>
            <button id='add_comment<%= comment.id %>'>Reply</button>
            <% if User.find(session[:current_user]).is_admin %>
                <%= link_to '[delete]', root_url + 'comments/' + comment.id.to_s + '/delete' %>
            <% end %>
        <% end %>

        <% @replies = Comment.where(:comment_id => comment.id) %>
        <% @replies.each do |reply| %>
            <%= render reply %>
        <% end %> 

    </div>

    <script>
        $(document).ready(function(){
            $('#upvote<%= comment.id %>').click(function() {
                $.post(
                'upvote.js',
                {comment_id: <%= comment.id %>},
                function(returnedData){
                    
                })}
            );
            $('#downvote<%= comment.id %>').click(function() {
                $.post(
                'downvote.js',
                {comment_id: <%= comment.id %>},
                function(returnedData){
                    
                })}
            );
        });
    </script>

    <script>
        $(document).ready(function() {
            $('#add_comment<%= comment.id %>').click(function() {
                $('#comment<%= comment.id %>').append(
                    "<form method=POST action='<%= root_url + 'add_comment' %>'>" +
                        "<input type='text_area' name='content' value='Add comment'></br>" +
                        "<input type='hidden' name='comment_id' value='<%= comment.id %>'>" +
                        "<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>" +
                        "<input type='submit' value='Add comment'>" +
                    "</form>"         
                );
                $('#add_comment').remove();}
            )
        });
    </script>
</div>