<div class="row">
<img class="col-md-2" src="<%= @article.thumbnail %>">
<h2 class='col-md-8'><%= @article.title %></h2>
</div>

<div class="row">

<p class="col-xs-10 col-sm-10 col-md-8" id="content">
    <%= @article.content %>
</p>
</div>


<% if session[:current_user] != nil %>
    </br><button id='add_comment'>Add comment</button>
<% end %>

<script>
    $(document).ready(function() {
        $('#add_comment').click(function() {
            $('#content').append(
                "<form method=POST action='<%= root_url + 'add_comment' %>'>" +
                    "<input type='text_area' name='content' value='Add comment'></br>" +
                    "<input type='hidden' name='article_id' value='<%= @article.id %>'>" +
                    "<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>" +
                    "<input type='submit' value='Add comment'>" +
                "</form>"         
            );
            $('#add_comment').remove();}
        )
    });
</script>