<h2><%= @article.title %></h2>
<img src="<%= @article.thumbnail %>">

<p id="content">
    <%= @article.content %>
</p>
<% if session[:current_user] != nil %>
    </br><button id='add_comment'>Add comment</button>
<% end %>


<script>
    $(document).ready(function() {
        $('#add_comment').click(function() {
            $('#content').append(
                "<form method=POST action='<%= root_url + 'add_comment' %>'>" +
                    "<input type='text_area' name='content' value='Add comment'></br>" +
                    "<input type='hidden' name='article_id' value='<%= @article.id %>'>" +
                    "<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>" +
                    "<input type='submit' value='Add comment'>" +
                "</form>"         
            );
            $('#add_comment').remove();}
        )
    });
</script>