<h2> Videos </h2>

<div class="col-xs-12 col-sm-12 col-md-3 sidebar btn-group-vertical">
    <%= link_to 'NEW', root_url + 'videos/category/new', :class => "btn btn-default", :id => 'new' %></br>
    <%= link_to 'MOST VIEWED', root_url + 'videos/category/most_viewed', :class => "btn btn-default" %></br>
    <%= link_to 'HOT', root_url + 'videos/category/hot', :class => "btn btn-default" %></br>
    <%= link_to 'FEATURED', root_url + 'videos/category/featured', :class => "btn btn-default" %></br> 
    </br>
    <%= link_to 'SUBMIT VIDEO', new_video_path, :class => "btn btn-primary", :method => 'get' %></br>
</div>

<div class="col-xs-12 col-sm-12 col-md-9 video_page">
    <% @videos.each do |video| %>
        <%= render video %>
    <% end %> </br>

    <%= will_paginate @videos %>
</div>

<script>
$(document).ready(function() {
    var category = location.toString().split('/').slice(-1).pop();
    if(category == "new"){
        $("#id").addClass("highlighted");
    }
});
</script>