<%= render @request %>
<div>
    <%= form_for @plan do |f| %>
    <% if @plan.errors.any? %>
	    <div id="error_explanation">
		<div class="alert alert-danger">
			The form contains <%= pluralize(@plan.errors.count, 
			  "errors") %>
		    <ul>
			<% @plan.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
        </div>
	</div>
    <% end %>
        <input type="hidden" name="to_user" value="<%= params[:to_user] %>">

        <%= f.label :content %></br>
        <%= f.cktext_area :content, :class => 'col-md-12', :id => 'content-box' %></br>

        <%= f.submit 'Send plan' %>
    <% end %>
</div>