<!DOCTYPE html>
<html>
<head>
  <title>AlfaLife</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
  
  <div class="col-xs-0 col-md-1"></div>
  <div class="col-xs-12 col-sm-12 col-md-10">
  
  <div class="banner-nav">

    <div class="navbar">
      <div class="row">
      <%= image_tag "banner-with-text", :class => "col-sm-12", :id => "banner" %>
      </div>
      <ul class="row navigation-bar">
        <li class="col-md-2 navbar-button"><%= link_to 'HOME', root_url, :class => 'navbar-link' %></li>
        <li class="col-md-2 navbar-button"><%= link_to 'DISCUSSION', questions_url, :class => 'navbar-link'  %></li>
        <% if session[:current_user] == nil || Plan.where(:to_user => :current_user).where(:read => false).count == 0 %>
          <li class="col-md-2 navbar-button"><%= link_to 'PLANS', plans_path, :class => 'navbar-link'  %></li>
        <% elsif Plan.where(:to_user => :current_user).where(:read => false).count > 0 %>
          <li class="col-md-2 navbar-button"><%= link_to 'PLANS(' + Plan.where(:to_user => :current_user).where(:read => false).count > 0 + ')', plans_path, :class => 'navbar-link'  %></li>
        <% end %>
        <li class="col-md-2 navbar-button"><%= link_to 'VIDEOS', videos_path, :class => 'navbar-link' %></li>
        <% if session[:current_user] == nil %>
          <li class="col-md-2 navbar-button"><%= link_to 'REGISTER', new_user_url, :class => 'navbar-link'  %></li>
          <li class="col-md-2 navbar-button"><%= link_to 'LOG IN', root_url + 'login', :class => 'navbar-link' %></li>
        <% else %>
          <% if User.find(session[:current_user]).is_admin %>
            <li class="col-md-2 navbar-button"><%= link_to 'CREATE ARTICLE', new_article_path, :class => 'navbar-link' %>
            <li class="col-md-2 navbar-button"><%= link_to 'REQUESTS', plan_requests_path, :class => 'navbar-link' %>
          <% end %>
          <% unread_messages = Message.where(:to_id => session[:current_user]).where(:read => false).count %>
          <% if unread_messages == 0 %>
            <li class="col-md-2 navbar-button"><%= link_to 'INBOX', messages_path, :class => 'navbar-link' %>
          <% elsif %>
            <li class="col-md-2 navbar-button"><%= link_to 'INBOX(' + unread_messages.to_s + ')', messages_path, :class => 'navbar-link' %>
          <% end %>
          <li class="col-md-2 navbar-button"><%= link_to 'LOG OUT', root_url + 'logout', :class => 'navbar-link' %></li>
        <% end %>
      </ul>
    </div> 
  </div>
  

  <div class="col-md-12 main-box">
    <% if flash[:success] != nil %>
    <div class="alert-success flash">
      <%= flash[:success] %>
    </div>
    <% end %>
    <% if flash[:danger] != nil %>
    <div class="alert-danger flash" >
      <%= flash[:danger] %>
    </div>
    <% end %>
    
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1">
    </div>
    <a href="<%= plans_path %>" style="display:block;">
     <%= image_tag "advert", :class => "col-xs-12 col-sm-12 col-md-10 col-lg-10 banner_ad" %>
    </a>
    </br>
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1">
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= yield %>
    </div>
  </div>
</div>
</div>

<footer class="col-xs-12 col-sm-12 col-md-12">
  <section class="footer-body">
    <small>
      Contact us at: truealfalife@gmail.com
      <a href="https://www.facebook.com/pages/AlfaLife/1838549669721119">Facebook</a>
    </small>
  </section>
</footer>
</body>
</html>


<script>
  $(document).ready(new function(){
    $('.navbar-button').hover(
      
      function() {
      $(this).css('background', 'white');
      $(this).children().css('color', 'black');
    }, 
    
      function(){
        $(this).css('background', 'black');
        $(this).children().css('color', 'white');
    });
  });
</script>