<!DOCTYPE html>
<html>
<head>
  <title>AlfaLife</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
  <div class="row">
  <div class="col-xs-0 col-md-1"></div>
  <div class="col-xs-12 col-sm-12 col-md-10">
  
  <div class="banner-nav">

    <div class="navbar">
      <div class="row">
      <%= image_tag "banner-dumbbell", :class => "col-sm-12", :id => "banner" %>
      </div>
      <ul class="row">
        <li class="col-md-2"><%= link_to 'Home', root_url %></li>
        <li class="col-md-2"><%= link_to 'Questions', questions_url %></li>
        <li class="col-md-2"><%= link_to 'Request Plan', new_plan_request_url %></li>
        <li class="col-md-2"><%= link_to 'Videos', '' %></li>
        <% if session[:current_user] == nil %>
          <li class="col-md-2"><%= link_to 'Register', new_user_url %></li>
          <li class="col-md-2"><%= link_to 'Log in', root_url + 'login' %></li>
        <% else %>
          <% if User.find(session[:current_user]).is_admin %>
            <li class="col-md-2"><%= link_to 'Create Article', new_article_path %>
          <% end %>
          <li class="col-md-2"><%= link_to 'Inbox', messages_path %>
          <li class="col-md-2"><%= link_to 'Log out', root_url + 'logout' %></li>
        <% end %>
      </ul>
    </div> 
  </div>
  

  <div>
    <%= flash[:success] %>
    <%= flash[:danger] %>
  </div>
  <div class="row">
    <%= yield %>
  </div>
</div>
</div>
</div>
</body>
</html>
